footer
  .container-fluid.text-center
    p.float-left © 2018 Dream Onewheel - Made with ❤️ by Sprint Studio
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://sprintstudio.co') Sprint Studio
      li.list-inline-item
        a(href='mailto:info@sprintstudio.co') Contact us
